<component name="libraryTable">
  <library name="springframework.security.spring.crypto" type="repository">
    <properties maven-id="org.springframework.security:spring-security-crypto:5.7.2" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security-crypto-5.7.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>